.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

@media (display-mode: standalone) {
  .App {
    user-select: none;
  }
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* System font classes */

.App .systemFontRegular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
.App .systemFontBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
}
.App .systemFontItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-style: italic;
}
.App .systemFontBoldItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* App-wide text styles specified in React Studio */

.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.0px;
  font-weight: 600;
}
.App .headlineFont * {
  font-size: 19.0px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  min-height: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.App .navBar > div {
  margin-top: 7px;
}

@media (min-width: 568px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 768px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 1024px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

.App .marker {
  width: 0px;
  height: 0px;
}

.App .drawer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.App .drawerOpen {
  transform: translateX(0%);
  transition: 0.3s;
}

.App .drawerClosedLeft {
  transform: translateX(-100%);
  transition: 0.3s;
}

.App .drawerClosedRight {
  transform: translateX(100%);
  transition: 0.3s;
}

.App .drawerContent {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.App .drawerContent > * {
  height: 100%;
}

.User2Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .User2Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .User2Screen > .layoutFlow > .elSpacer {
    position: relative;
    margin-top: 0px;
    width: 1280px;
    margin-left: 0px;
  }
  .User2Screen > .layoutFlow > .elSpacer > * { 
  width: 1280px;
  height: 100px;
  }
  


  .User2Screen > .layoutFlow > .elText {
    overflow: hidden;
    position: relative;
    margin-top: 183px;
    width: 1285px;
    margin-left: 67px;
  }
  .User2Screen > .layoutFlow > .elText > * { 
  width: 1285px;
  }
  

.circularProgressIndicator {
    position: relative;
    width: 50px;
    height: 50px;
    display: none;
}
.circularProgressIndicator-active {
    animation: rotate 2s linear infinite;
    display: inline;
}
.circularProgress-animatedPath {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: circularProgress-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}
@keyframes rotate{
    100%{
    transform: rotate(360deg);
    }
}
@keyframes circularProgress-dash{
    0%{
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}



  .User2Screen > .layoutFlow > .elProgress {
    position: relative;
    margin-top: 111px;
    width: 48px;
    margin-left: 1107px;
  }
  .User2Screen > .layoutFlow > .elProgress > * { 
  width: 48px;
  }
  


  .User2Screen > .layoutFlow > .elEmbed {
    position: relative;
    margin-top: -270px;
    width: 272px;
    margin-left: 338px;
  }
  .User2Screen > .layoutFlow > .elEmbed > * { 
  width: 272px;
  }
  

.User2Screen .elIconButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.User2Screen .elIconButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .User2Screen > .layoutFlow > .elIconButton {
    position: relative;
    margin-top: -384px;
    width: 41px;
    margin-left: 21px;
  }
  .User2Screen > .layoutFlow > .elIconButton > * { 
  width: 41px;
  height: 36px;
  }
  


/* Narrowest size for this element's responsive layout */
  .Login1Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .Login1Screen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .Login1Screen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .Login1Screen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.UserScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .UserScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .UserScreen > .layoutFlow > .elSpacer {
    position: relative;
    margin-top: 0px;
    width: 1280px;
    margin-left: 0px;
  }
  .UserScreen > .layoutFlow > .elSpacer > * { 
  width: 1280px;
  height: 100px;
  }
  


  .UserScreen > .layoutFlow > .elText {
    overflow: hidden;
    position: relative;
    margin-top: 192px;
    width: 1285px;
    margin-left: 0px;
  }
  .UserScreen > .layoutFlow > .elText > * { 
  width: 1285px;
  }
  

.UserScreen .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.UserScreen .elButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .UserScreen > .layoutFlow > .elButton {
    line-height: 48px;
    position: relative;
    margin-top: 141px;
    width: 145px;
    margin-left: -10px;
  }
  .UserScreen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 48px;
  }
  


  .UserScreen > .layoutFlow > .elEmbed {
    position: relative;
    margin-top: -262px;
    width: 272px;
    margin-left: 271px;
  }
  .UserScreen > .layoutFlow > .elEmbed > * { 
  width: 272px;
  }
  

.UserScreen .elIconButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.UserScreen .elIconButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .UserScreen > .layoutFlow > .elIconButton {
    position: relative;
    margin-top: -384px;
    width: 41px;
    margin-left: 21px;
  }
  .UserScreen > .layoutFlow > .elIconButton > * { 
  width: 41px;
  height: 36px;
  }
  

.GuideScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .GuideScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .GuideScreen > .layoutFlow > .elText {
    overflow: hidden;
    position: relative;
    margin-top: 192px;
    width: 1285px;
    margin-left: 0px;
  }
  .GuideScreen > .layoutFlow > .elText > * { 
  width: 1285px;
  }
  

.GuideScreen .elIconButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.GuideScreen .elIconButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .GuideScreen > .layoutFlow > .elIconButton {
    position: relative;
    margin-top: -384px;
    width: 41px;
    margin-left: 21px;
  }
  .GuideScreen > .layoutFlow > .elIconButton > * { 
  width: 41px;
  height: 36px;
  }
  

.LaunchScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .LaunchScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .LaunchScreen > .layoutFlow > .elText {
    overflow: hidden;
    position: relative;
    margin-top: 194px;
    width: 1285px;
    margin-left: 0px;
  }
  .LaunchScreen > .layoutFlow > .elText > * { 
  width: 1285px;
  }
  

.LaunchScreen .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.LaunchScreen .elButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .LaunchScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: -2px;
    width: 145px;
    margin-left: 0px;
  }
  .LaunchScreen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

.LaunchScreen .elButton2 button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.LaunchScreen .elButton2 button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .LaunchScreen > .layoutFlow > .elButton2 {
    line-height: 35px;
    position: relative;
    margin-top: 32px;
    width: 145px;
    margin-left: 0px;
  }
  .LaunchScreen > .layoutFlow > .elButton2 > * { 
  width: 145px;
  height: 35px;
  }
  

